


<h4>Products Page:</h4>
<hr>

<div class="card" style="width: 18rem;" >
<div class="card-body" id="carrito">

</div>
</div>
<br>

<script src="../socket.io/socket.io.js"></script>
<script src="../public/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>